CONFIG_ARM=y
CONFIG_ARCH_NS9360=y
CONFIG_TARGET_HPE_IPDU=y
CONFIG_DEFAULT_DEVICE_TREE="ns9360-hpe-ipdu"
CONFIG_SYS_CLK_FREQ=176947200
CONFIG_BAUDRATE=115200
CONFIG_SYS_LOAD_ADDR=0x00200000
CONFIG_SYS_MALLOC_LEN=0x40000
# CONFIG_AUTOBOOT is not set

# Serial
CONFIG_NS9360_SERIAL=y

# Flash
CONFIG_SYS_FLASH_CFI=y
CONFIG_FLASH_CFI_DRIVER=y
CONFIG_SYS_MAX_FLASH_BANKS=2
CONFIG_ENV_IS_IN_FLASH=y
CONFIG_ENV_ADDR=0x507F0000
CONFIG_ENV_SECT_SIZE=0x10000
CONFIG_ENV_SIZE=0x10000

# Memory commands
CONFIG_CMD_MEMORY=y

# Standard commands
CONFIG_CMD_FLASH=y
CONFIG_CMD_ENV=y
CONFIG_CMD_RUN=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_GO=y
